<% content_for :javascript do %>
  <%= javascript_include_tag 'jquery-1.10.2.min' %>
  <%= javascript_include_tag 'fancybox/jquery.fancybox.pack' %>
  <%= javascript_tag do %>
    $(function() {
      
      $('.tests a').on('click', function() {
        var startTime = (new Date()).getTime(),
            baseUrl = /([^?]*)/.exec($(this).attr('href'))[0];
        
        $(this).attr('href', baseUrl + '?' + startTime);
        return true;
      });

      $('#clientModal').fancybox({
        width: 650,
        height: 550,
        autoSize: false,
        transitionIn: 'none',
        transitionOut: 'none',
        type: 'iframe',
        modal: true,
        beforeLoad: function() {
          $.fancybox.showLoading();
        },
        afterLoad: function() {
          $.fancybox.showLoading();
        },
        afterShow: function() {
          window.setTimeout(function() {
            $.fancybox.hideLoading();
          }, 1000);
        }
      });
      
    });
  <% end %>
<% end %>

<h1>Performance Tests</h1>
<ul class="tests">
  <li><a href="/server">Server</a></li>
  <li><a href="/client">Client: standalone page</a></li>
  <li><a id="clientModal" href="/client">Client: modal with iframe</a></li>
</ul>
